.previewer-container {
  min-width: 95vw;
}

.previewer-header {
  align-items: center;
  background-color: lightSeaGreen;
  border: 1px solid black;
  display: flex;
}

.fcc-icon {
  margin: 0 10px;
}

.previewer-heading {
  font-size: 1.1em;
  font-weight: bold;
}

.size-icon {
  margin: 0 10px;
}

.previewer {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  width: 100%;
}
