.previewer-container {
  margin-bottom: 30px;
  min-width: 100vw;
}

.previewer-header {
  background-color: lightSeaGreen;
  border: 1px solid black;
  display: flex;
}

.fcc-icon {
  margin: 0 10px;
}

.previewer-heading {
  font-size: 1.1em;
  font-weight: bold;
}

.size-icon {
  margin: 0 10px;
}

.previewer {
  background-color: white;
  width: 100%;
}
